# =========================
# Node.js & TypeScript
# =========================
node_modules/
dist/
build/
coverage/
tmp/
temp/
.env
.env.local
.env.production
.env.development

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.cache/
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# =========================
# OS / Misc
# =========================
Thumbs.db
desktop.ini

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Vercel / Deployment
# =========================
.vercel
.vercel_build_output/
.next/
